<div class="create-wrapper"></div>

  <%= render "shared/navbar"%>
  
  <div class="create-block">
    <div class="create-content">
      <h1>お疲れ様です！</h1>
      <div class="to-home"><%= link_to 'トップページへ戻る', trainings_path, class: "sign-in" %></div>
    </div>
  </div>
</div>
