<div class="first-page-wrapper">

  <%= render "shared/header"%>

  <% if user_signed_in? %> 
    <%= render "shared/home"%> 
  <%else%> 
    <div class='top-main'>
      <%= render "shared/top"%>
    </div>
  <%end%> 
</div>
