.create-wrapper{
  
}

.a-word{
  text-align:center;
  margin-bottom: 40px;
}

.comments{
  background-image: url("Otsukare.jpeg");
  background-color:rgba(255, 255, 255, 0.8);
  background-blend-mode:lighten;
  background-position: center center;
}

.good-job{
  margin-top: 150px;
}

.create-block{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 600px){
  .comments{
    margin: 50px 15% 0 15%;
  }
}


@media screen and (max-width: 599px){
  .comments{
    margin: 50px 2% 0 2%;
  }
}