.main{
  background: -webkit-linear-gradient(left, #7E898F 0%, #636C75 100%), -webkit-radial-gradient(at top, rgba(255, 255, 255, 0.5) 0%, rgba(0, 0, 0, 0.55) 100%), -webkit-radial-gradient(at top, rgba(255, 255, 255, 0.5) 0%, rgba(0, 0, 0, 0.08) 63%);
  background: linear-gradient(90deg, #7E898F 0%, #636C75 100%), radial-gradient(at top, rgba(255, 255, 255, 0.5) 0%, rgba(0, 0, 0, 0.55) 100%), radial-gradient(at top, rgba(255, 255, 255, 0.5) 0%, rgba(0, 0, 0, 0.08) 63%);
}

.my-data{
  margin: 60px auto;
}

.graphs{
  margin: 50px 15% 0 15%;
}

.each-data{
  background-color: white;
  margin-top: 50px;
  border: 1px solid rgb(220, 220, 220);
}

.space{
  height: 60px;
}

.title{
  font-family: 'Vollkorn', serif;
  font-size: 25px;
}

.data-nothing{
  padding: 0 10vh;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.friends-data-nothing{
  padding: 0 10vh;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
