<header>
  <div class="heading">
    <%= link_to image_tag("original_logo.png", class:"logo-icon"), "/" %>
  </div>
  <div class="navbar">

    <ul class="nav-lists">
        <li><%= link_to 'ログイン', "#", class: "login" %></li>
        <li><%= link_to '新規登録', "#", class: "sign-up" %></li>
    </ul>
  </div>
</header>
