<header>
  <div class="heading">
    <img src="images/original_logo.png" alt="トップ画面" class="logo">
  </div>
  <div class="navbar">
    <ul class="nav-lists">
      <li>サロンガイド</li>
      <li>メニュー</li>
      <li>スタッフ一覧</li>
      <li>ギャラリー</li>
      <li>アクセス</li>
      <li>ブログ</li>
    </ul>
  </div>
</header>
