<div class='main'>

  <div class="my-data">
    <h2 class='title'>My training data</h2>
    <div class="detail-data">
      <% if @trainings.present? %>
        <div class="my-graph">
          <%= pie_chart @data %>
        </div>
      <% else %>
        <div class="data-nothing">
          <h1 class="lets-train">さあ、トレーニングをしましょう！</h1>
          <div class="training-btn"><%= link_to 'トレーニング', "#", class: "sign-in" %></div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="friends-data">
  <h2 class='title'>My friend's data</h2>
    <div class="friends-data-nothing">
      <h1 class="data-nothing">友達を登録しましょう！</h1>
      <div class="training-btn"><%= link_to 'フレンド登録', "#", class: "sign-in" %></div>
    </div>
  </div>

</div>