<div class='first-content'>
  <div class='first-text'>
    <h1 class='service-name'>Hajime-Mascle</h1>
    <p class='catch-copy'>さあ、コスパ最強の自己投資を始めよう。</p>
  </div>
</div>

<div class='second-content'>
  <h1 class='message'><span>Message</span></h1>
  <p class='text'>こんにちは！本サイトにお越し頂きましてありがとうございます！本サービスのコンセプトは「友人と一緒に健康体を維持していく」です。このコンセプトにした理由は、社会人が日々の業務に忙殺される上に新型肺炎が流行し、より一層運動する機会が失われていること現状に一石投じたいと考えたためです。やはり友人の習慣を可視化することによってモチベーションにし合える関係になれたらあなたもスリムな健康体を維持できると思います。</p>
</div>