.friends-wrapper{
  margin-top: 80px;
}

.friends-main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.my-friends-data{
  display: flex;
  margin-bottom: 15px;
}

.follow-path, .follower-path, .unfollow, .follow{
  color: #333333;
  text-decoration: none;
}

.follow-path:hover, .follower-path:hover, .active{
  text-decoration: underline;
}

.search-box{
  margin-bottom: 25px;
}

.search-input{
  height: 30px;
  background-color: rgb(206, 233, 244);
}

.search-btn{
  height: 30px;
  background-color: rgb(122, 150, 234);
}

.all-user{
  width: 45vh;
  border: 1px solid rgb(220, 220, 220);
}

.each-user{
  display: flex;
  justify-content: space-between;
  margin: 0 5px 10px 5px;
}

.user-name, .unfollow-btn, .follow-btn{
  font-size: 18px;
}

.unfollow-btn, .follow-btn{
  width: 70px;
}