.friends-wrapper{
  margin-top: 80px;
}

.friends-main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.my-friends-data{
  display: flex;
  margin-bottom: 15px;
}

.follow-path, .follower-path{
  color: #333333;
  text-decoration: none;
}

.follow-path:hover, .follower-path:hover, .active{
  text-decoration: underline;
}

.search-box{
  margin-bottom: 25px;
}

.search-input{
  height: 30px;
  background-color: rgb(206, 233, 244);
}

.search-btn{
  height: 30px;
  background-color: rgb(122, 150, 234);
}

